{{- $codespaces:= env "CODESPACES" | not | not -}}
{{- $ubuntu:= and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "ubuntu") (not $codespaces) }}
{{- $work:= env "WORK" | not | not -}}

data:
  codespaces: {{ $codespaces }}
  ubuntu: {{ $ubuntu }}
  work: {{ $work }}
