.tmux/plugins/tpm:
    type: git-repo
    url: https://github.com/tmux-plugins/tpm.git
.oh-my-zsh/custom/plugins/zsh-vi-mode:
    type: git-repo
    url: https://github.com/jeffreytse/zsh-vi-mode
.config/nvim/pack/github/start/copilot.vim:
    type: git-repo
    url: https://github.com/github/copilot.vim.git
.local/share/nvim/lazy/lazy.nvim:
    type: git-repo
    url: https://github.com/folke/lazy.nvim.git
    stripComponents: 1
    clone.args:
        - "--filter=blob:none"
