.tmux/plugins/tpm:
    type: git-repo
    url: https://github.com/tmux-plugins/tpm.git
.oh-my-zsh/custom/plugins/zsh-vi-mode:
    type: git-repo
    url: https://github.com/jeffreytse/zsh-vi-mode
.config/nvim/pack/github/start/copilot.vim:
    type: git-repo
    url: https://github.com/github/copilot.vim.git
