{{- if .codespaces -}}
#!/bin/bash

set -ex

# install packages
echo "Installing packages..."
PACKAGES_NEEDED="\
    silversearcher-ag \
    bat \
    fuse \
    dialog \
    apt-utils \
    ripgrep \
    libfuse2"

if ! dpkg -s ${PACKAGES_NEEDED} > /dev/null 2>&1; then
    if [ ! -d "/var/lib/apt/lists" ] || [ "$(ls /var/lib/apt/lists/ | wc -l)" = "0" ]; then
        sudo apt-get update
    fi
    sudo apt-get -y -q install ${PACKAGES_NEEDED}
fi

# install latest neovim
echo "Installing neovim..."
curl -LO https://github.com/neovim/neovim/releases/latest/download/nvim.appimage
chmod u+x nvim.appimage
./nvim.appimage --appimage-extract
./squashfs-root/AppRun --version
sudo mv squashfs-root /
sudo ln -s /squashfs-root/AppRun /usr/bin/nvim

# install copilot
echo "Installing copilot..."
curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.39.3/install.sh | bash
nvm use stable
git clone https://github.com/github/copilot.vim.git \
  ./config/nvim/pack/github/start/copilot.vim
{{end -}}
