#!/bin/sh
{{if (eq .chezmoi.os "darwin") -}}
set -e

if command -v brew >/dev/null 2>&1 ; then
  echo '🍺  Homebrew already installed'
  exit 0
fi

(echo '🍺  Installing Homebrew' && /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)")

brew bundle --no-lock --file=/dev/stdin <<EOF
tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/cask-drivers"
tap "homebrew/cask-fonts"
tap "homebrew/cask-versions"
tap "homebrew/core"
tap "homebrew/services"
brew "1password-cli"
brew "azure-cli"
brew "bash"
brew "bat"
brew "claude"
brew "copilot-cli"
brew "fzf"
brew "gh"
brew "jq"
brew "neovim"
brew "python"
brew "reattach-to-user-namespace"
brew "ripgrep"
brew "ruby"
brew "tmux"
brew "wget"
brew "nvm"
brew "zplug"
brew "zsh"
brew "glow"
cask "bitwarden"
cask "docker"
cask "font-jetbrains-mono-nerd-font"
cask "raycast"
cask "telegram"
cask "zoom"
EOF

gh auth login
gh extension install dlvhdr/gh-dash
{{end -}}
