{{- if .codespaces -}}
#!/bin/bash

set -ex

echo "Running nvim setup..."
nvim --headless -c 'autocmd User PackerComplete quitall' -c 'PackerSync'
nvim --headless -c 'autocmd User PackerComplete quitall' -c 'PackerSync' # just in case: https://github.com/wbthomason/packer.nvim/issues/502#issuecomment-1135331998
nvim --headless -c 'GoInstallBinaries' +qa

sudo chsh -s "$(which zsh)" "$(whoami)"

# install zsh vi mode
echo "Installing zsh vi mode..."
git clone https://github.com/jeffreytse/zsh-vi-mode \
  $HOME/.oh-my-zsh/custom/plugins/zsh-vi-mode

# install copilot
echo "Installing copilot..."
git clone https://github.com/github/copilot.vim.git \
  ./config/nvim/pack/github/start/copilot.vim

nvim --headless -c 'Copilot setup' +qa
{{end -}}
