{{- if .codespaces -}}
#!/bin/bash

set -ex

echo "Running nvim setup..."
# nvim --headless -c 'autocmd User PackerComplete quitall' -c 'PackerSync'
# nvim --headless -c 'autocmd User PackerComplete quitall' -c 'PackerSync' # just in case: https://github.com/wbthomason/packer.nvim/issues/502#issuecomment-1135331998
nvim --headless "+Lazy! sync" +qa
nvim --headless -c 'GoInstallBinaries' +qa
nvim --headless -c 'Copilot setup' +qa

echo "Installing tmux plugins..."
~/.tmux/plugins/tpm/bin/install_plugins

sudo chsh -s "$(which zsh)" "$(whoami)"
{{end -}}
